head
  title= title
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  script(type='text/javascript', src='http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.js')
  script(type='text/javascript', src='/javascripts/crimedata/lib/require.js', data-main='/javascripts/crimedata/crimedata')
  link(rel='stylesheet', href='http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.css')
  link(rel='stylesheet', href='/lib/components/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet', href='/lib/components/bootstrap/css/bootstrap-responsive.min.css')
  link(rel='stylesheet', href='/stylesheets/spacelab.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')