head
  title= title
  script(type='text/javascript', src='/lib/components/d3/d3.v3.min.js')
  link(rel='stylesheet', href='/lib/components/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet', href='/lib/components/bootstrap/css/bootstrap-responsive.min.css')
  link(rel='stylesheet', href='/stylesheets/spacelab.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
