extends layout

block content
  .container-fluid
    .content
      .page-header
        .row.text-center
          .btn-group
            button.btn.active#live-btn Daily
            button.btn#trends-btn Trends
        .row
          #date-dropdowns
          form
            label(for='crime-date') Date
            input(name='crime-date', id='crime-date')
      .row
        .span12
          .blockquote
            .p Showing <var id='num-crimes'></var> crimes
        .span8
          .widget.large
            #widget-map
        .span4.sidebar
          .widget.container-fluid.small
            #crimes-hourly
          .widget.container-fluid.small
            img(src='images/wheel.png')
          .widget.container-fluid.small
            #crime-list
  .footer
