extends layout

block content
  .container-fluid
    .content
      .page-header
        #date-dropdowns
      .row
        .span8
          .widget.container-fluid.large
            #widget-map
        .span4.sidebar
          .widget.container-fluid.small
          .widget.container-fluid.small
          .widget.container-fluid.small
  .footer
