extends layout

block content
  .container-fluid
    .content
      .page-header
      .row-fluid
        .span8
          .widget.container.large
            #widget-map
        .span4
           .sidewidget
  .footer
