extends layout

block content
  .container-fluid
    .content
      .page-header
        .row.text-center
          .btn-group
            button.btn.active#live-btn Daily
            button.btn#trends-btn Trends
        .row
          #date-dropdowns
      .row
        .span12
          .blockquote
            .p Showing <var id='num-crimes'></var> crimes
        .span8
          .widget.container-fluid.large
            #widget-map
        .span4.sidebar
          .widget.container-fluid.small
          .widget.container-fluid.small
          .widget.container-fluid.small
  .footer
