extends layout

block content
  .container-fluid
    .content
      .page-header
        p.lead Data from <span id='crime-date'></span>
      .row-fluid
        .span8
          .widget.container.large
            #widget-map
        .span4
           .sidewidget
  .footer
